extends ../layout

block content
  .col-sm-8.col-sm-offset-2
  if matches.length > 0
    h1 You have #{matches.length} match/s
    h3 They're just eye candy for now. You'll be about to send them messages soon!
    .col-sm-12
      ul
        each match in matches
          .col-sm-4.text-center
            .list-group
              a.list-group-item(href='#')
                h3.list-group-item-heading= match.profile.name
                img(src=match.gravatar(), class='profile', width='100', height='100')
                p= 'Age: ' + match.profile.age
                p= 'Gender: ' + match.profile.gender
                p= 'Location: ' + (match.profile.zip || "Unspecified Zip Code")
                p= 'Website: ' + (match.profile.website || "No Religion")
                p= 'Religion: ' + match.profile.religion
  else
    h4 Sorry, no matches right now. 
